body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Ubuntu' sans-serif ;
  color: #000;
  height:100vh;
 width: 100%;}

.section-home{
  background-image: url('./Images/fintech.jpg');
background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}
  .section-home h2{
  text-align: center;
    font-size: 1.9rem;
    padding-top: 10rem;
  }
 .section-home p{
    text-align: center;
   font-size: 1.0rem;
 }
 .section-home .btn{
   margin-left: 46%;
   margin-top: 5%;
   }
.section-about{
  background: #ecdde2;
  padding: 100px;
  line-height: 30px;
}
.section-about h2{
  padding-bottom: 10px;
}

.navbar {
display: flex;
  padding: 10px;
letter-spacing: 0.1rem;
  align-items: right;
 justify-content: space-around;
}
a{
  text-decoration: none;
  font-size: 1.1rem;
  color: #000;
  font-weight: bold;
  margin-left: 10px;
}

a:hover{
  color: #800022; 
}
p{
  line-height: 25px;
}
.btn{
  cursor: pointer;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 10%;
  background: #800022;
  color:#fff;
  border: none;
}
.btn-2{
   cursor: pointer;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 5%;
  background: #800022;
  color:#fff;
  border: none;
  margin-left: 46%;
}

.btn:hover{
  background: #b54d5a;
}
.btn-2:hover{
  background: #b54d5a;
   color: #800022;
}

.section{
  margin: 50px;
  padding:60px;
}

.section-a{
  margin-top: 10%;
text-align: center;
  font-size: 1.6rem;
}
.section-a i{
  font-size: 5rem;
  text-align: center;
}
.section-a p{
  font-size: 1rem;
  text-align: center;
}


.section h2{
  padding-bottom: 20px
}

.user-section{
  border-radius: 40px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 10px;
}

.user-details{
  font-size: 1rem;
  padding: 30px; 
}

.user-details h3, .user-details p{
  text-align: center;
}


img{
 position: relative;
 right: -45%;
 border-radius: 50%;
}

.paginationBtns{
  width: 40%;
  margin: 80px auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  
}
.paginationBtns a{
  border: double #aaa;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 2rem;
}

  .activeBtn a{
  background-color: #b54d5a;
  color: #ffff;
  font-size: 2rem;
}

.ReactPaginate{
 padding-bottom: 50px;
  }
  
/*   responsiveness */
 
@media only screen and (max-width: 600px){

  img{
    right: -30%;
  }
  .user-details{
    font-size: 0.8rem;
  }
  
 .btn-2{
margin-left: 42%;
   font-size: 0.5rem;
   
 }
  
  .section-a{
  margin-top: 25%;
  }
  .section-about{
   padding: 40px 30px;
  }
  .navbar{
   gap: 1rem;
    padding: 2px;
  }
  
  .section-home h2{
    font-size: 0.9rem;
    text-align: center;
  }

  .section-home p{
    font-size: 0.7rem;
    text-align: center;
  }

.paginationBtns{
  width: 100%;
}
  .paginationBtns a{
    font-size: 1rem;
    padding: 2px 5px;
    
  }
}